absl-py
anyio
asgiref
cachetools
certifi
charset-normalizer
click
cycler
fastapi
fastapi-utils
fonttools
google-auth
google-auth-oauthlib
greenlet
grpcio
h11
idna
importlib-metadata
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pydantic
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy
seaborn
six
sniffio
SQLAlchemy
starlette==0.27.0
thop
torch
torchvision
tqdm
typing_extensions
urllib3
uvicorn
Werkzeug
zipp