---

- hosts: ftp_server
  become: yes
  tasks:
  - name: Ensures dir exists
    file: path=/etc/lacmus/DockerFiles/ftp state=directory
  - name: Copy ftp api
    copy: 
      src : ../../ftp_api
      dest : /etc/lacmus/DockerFiles/ftp
  - name: Copy local files
    copy: 
      src : DockerFiles/ftp/
      dest : /etc/lacmus/DockerFiles/ftp      
  - name: Build image
    docker_image:
      name: vsftpd
      build:
        path: /etc/lacmus/DockerFiles/ftp
        pull: yes
      force_source: yes
      source: build
    notify:
      - restart container
  - name: start ftp docker
    docker_container:
      name: ftp
      image: vsftpd
      state: started
      published_ports:
        - "0.0.0.0:21:21"
        - "127.0.0.1:5001:5001"
      env:
        POSTGRES_PASSWORD: "{{ lookup('env','POSTGRES_PASSWORD') }}"

  handlers:
  - name: restart container
    docker_container:
      name: ftp
      image: vsftpd
      restart: yes
