---

- hosts: identity_api
  become: yes
  tasks:
  - name: Ensure logs dir
    file: path=/media/data/logs state=directory
  - name: Copy identity api
    copy: 
      src : ../../identity_api
      dest : /etc/lacmus/DockerFiles/identity
  - name: Copy local files
    copy: 
      src : DockerFiles/identity/
      dest : /etc/lacmus/DockerFiles/identity      
  - name: Build image
    docker_image:
      name: identity_api
      build:
        path: /etc/lacmus/DockerFiles/identity
        pull: yes
      force_source: yes
      source: build
    notify:
      - restart container
  - name: start identity docker
    docker_container:
      name: identity
      image: identity_api
      state: started
      networks:
        - name: lacmus_server
      networks_cli_compatible: yes
      exposed_ports:
        - "5002:5002"
      mounts:
        -
          source: /media/data/logs
          target: /app/identity_api/logs
          type: bind
      env:
        POSTGRES_PASSWORD: "{{ lookup('env','POSTGRES_PASSWORD') }}"
        MINIO_ROOT_USER: "{{ lookup('env','MINIO_ROOT_USER') }}"
        MINIO_ROOT_PASSWORD: "{{ lookup('env','MINIO_ROOT_PASSWORD') }}"

  handlers:
  - name: restart container
    docker_container:
      name: identity
      image: identity_api
      restart: yes
